// Configurable variables
params {
    outdir = './facets'
}

process {
    cpus = 1
    cache = 'lenient'
    container = 'brwnj/r-facets:v1.0.0'
    withName: r_facets {
        time = 24.h
        memory = 120.GB
    }
    withName: snp_pileup {
        time = 24.h
        memory = 4.GB
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.runOptions = '--bind /scratch'
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'facets-nf'
    author = 'Joe Brown'
    description = 'nextflow implementation of the facets data flow.'
    version = '1.0.0'
    nextflowVersion = '>=20.10.0'
    homePage = 'https://github.com/brwnj/facets-nf'
    mainScript = 'main.nf'
}
